/* shadowed items */
body {
  font-family: "Oldenburg", cursive;
  color: #f9ebd9;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

@media (min-width: 962px) and (max-width: 1300px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
}

@media (min-width: 1300px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
}

p {
  font-size: 0.9rem;
}

@media (min-width: 962px) and (max-width: 1300px) {
  p {
    font-size: 1.1rem;
  }
}

@media (min-width: 1300px) {
  p {
    font-size: 1.3rem;
  }
}

nav a {
  color: #f9ebd9;
  font-size: 1.4rem;
}

a:hover {
  color: #4c4f51;
}

a {
  color: #d45244;
  text-decoration: underline;
}

#popup img {
  width: 100%;
}

::selection {
  color: #f9ebd9;
  background-color: #d45244;
}

.dark {
  color: #1e2022;
  font-weight: bold;
}

.redish {
  color: #d45244;
}

.light {
  color: #f9ebd9;
}

#navbarTogglerFontIcon {
  color: #f9ebd9;
  padding: 0.6rem 0.3rem;
}

hr {
  background-color: #1e2022;
  height: 2px;
  width: 25vw;
  margin: auto 1rem;
}

#entrance {
  width: 100%;
  background-image: url("../imgs/bg1.png");
  background-repeat: repeat;
}

#about {
  width: 100%;
  background-image: url("../imgs/bg2.png");
  background-repeat: repeat;
  color: #1e2022;
}

#interests {
  width: 100%;
  background-image: url("../imgs/bg3.png");
  background-repeat: repeat;
  color: #1e2022;
}

#travelmap {
  width: 100%;
  height: auto;
}

.carousel-control-next,
.carousel-control-prev {
  height: 15%;
  top: auto;
  bottom: 42.5%;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
  color: #d45244;
}

#overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  overflow: scroll;
}

#popup {
  position: relative;
  width: 80%;
  top: 15%;
  left: 10%;
  padding: 0 20px 30px 20px;
  background-image: url("../imgs/bg3.png");
  background-repeat: repeat;
  color: #1e2022;
}

@media (min-width: 1300px) {
  #popup {
    width: 58%;
    left: 21%;
    top: 10%;
  }
}

#popupClose {
  float: right;
  margin-right: -30px;
  background-image: url("../imgs/bg3.png");
  background-repeat: repeat;
  border: 1px solid white;
  border-radius: 1rem;
  margin-top: -15px;
}

#popupClose:hover {
  cursor: pointer;
}

#contact {
  width: 100%;
  background-image: url("../imgs/bg4.png");
  background-repeat: repeat;
  color: #f9ebd9;
}

#logo {
  background-image: url("../imgs/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.card-header {
  background-color: #d45244;
}

.card-body {
  background-color: #e3dfd7;
  border: 1px solid #d45244;
}

input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: #f9ebd9;
  color: #4c4f51;
}

#subject-input {
  height: 200px;
}

.btn-send {
  color: #4c4f51;
  background-color: #f9ebd9;
  border-color: #4c4f51;
}

#contact-success-message,
#contact-error-message {
  display: none;
}

footer {
  width: 100%;
  background-image: url("../imgs/bg5.png");
  background-repeat: repeat;
  color: #4c4f51;
}

.footer-icon {
  font-size: 2rem;
  margin: 1rem;
  border: 2px solid #4c4f51;
  border-radius: 1.5rem;
  padding: 0.5rem;
}
